# Exercício Salários - SOLUÇÕES

Bem-vindo a um exercício para praticar suas habilidades no pandas! Usaremos o [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) do Kaggle! Basta concluir as tarefas descritas em negrito abaixo. As tarefas ficarão cada vez mais difíceis à medida que você avança

**Importe pandas como pd**

In [ ]:
import pandas as pd

**Leia Salaries.csv como um dataframe chamado sal**

In [ ]:
# Esse trecho do código é obrigatório para quem estiver fazendo tudo pelo colab
# Caso você esteja utilizando o jupyter pode comentar/apagar
import os
from google.colab import drive

drive.mount('/content/drive')
os.chdir("drive/My Drive/Colab Notebooks/04_Exercícios_com_Pandas")
os.listdir()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['Ecommerce Purchases', 'Salaries.csv']

In [ ]:
sal = pd.read_csv('Salaries.csv')

**Verifique a cabeçalho do DataFrame**

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Utilize o método .info() para obter quantas entradas existem**

In [ ]:
sal.info() # 148654 Entradas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Qual é a média de BasePay?**

In [ ]:
sal['BasePay'].mean()

66325.4488404877

**Qual o maior valor de OvertimePay no dataset?**

In [ ]:
sal['OvertimePay'].max()

245131.88

**Qual é o cargo de JOSEPH DRISCOLL? Nota: Use todas as letras maiúsculas, caso contrário você pode obter uma resposta diferente (há também um Joseph Driscoll todo em minúsculas)**

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Quanto ganha JOSEPH DRISCOLL (incluindo benefícios)?**

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**Qual é o nome da pessoa mais bem paga (incluindo benefícios)?**

In [ ]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()] #['EmployeeName']
# ou
# sal.loc[sal['TotalPayBenefits'].idxmax()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

**Qual é o nome da pessoa com o salário mais baixo (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é pago?**

In [ ]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()] #['EmployeeName']
# ou
# sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

## É NEGATIVO!

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Qual foi a média de  BasePay de todos os funcionários por ano? (2011-2014)?**

In [ ]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64


**Quantos cargos únicos existem?**

In [ ]:
sal['JobTitle'].nunique()

2159

**Quais são os 5 empregos mais comuns?**

In [ ]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Quantos cargos foram representados por apenas uma pessoa em 2013? (por exemplo, Cargos com apenas uma ocorrência em 2013?)**

In [ ]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1) #Maneira bem complicada de fazer isso...

202

**Quantas pessoas têm a palavra Chefe em seu cargo? (Isso é bem difícil)**

In [ ]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [ ]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

**Bônus: Existe uma correlação entre o comprimento da string Cargo e Salário?**

In [ ]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [ ]:
sal[['title_len','TotalPayBenefits']].corr() # Sem correlação

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000